<div class="card_style" id="body-style">
  <div routerLink="" routerLinkActive="active" *ngFor="let movie of movie_data">
    <div class="card" id="card_ind" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ movie.img_url }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h3 class="card-title">{{ movie.name }}</h3>
        <p class="card-text">
          <strong>Tickets Available</strong> : {{ movie.tickets }}
        </p>
      </div>
      <button
        type="button"
        id="b-style"
        class="btn btn-secondary btn-lg btn-block"
        (click)="onSelect(movie.id)"
      >
        Book Tickets
      </button>
    </div>
  </div>
</div>
